*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio / IntelliJ
.idea/
.gradle/
build/
**/build/
*.iml
local.properties

# Secrets (DO NOT PUSH THESE)
#google-services.json
.DS_Store

# System files
captures/
.externalNativeBuild/
.cxx/


